.portfoliopage_container{
    /* display: flex; */
    /* width: 100vw;
    height: 100vh;
    box-sizing: border-box; */
    /* background-color:chocolate; */
    background-color: chocolate;
}
.portfolioinfo_container{
    display: flex;
    /* flex: 0.78; */
}
/* Warn Msg */
.warnmsg{
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
/* Media queries */
@media only screen and (max-width: 934px){
.portfolioinfo_container{
    display: none;
}
.warnmsg{
    display: block;
}
#onlinestatus{
    display: block;
}
}
/* @media only screen and (min-height: 657px){

} */